HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Hidden Data ###
/src/main/java/laustrup/bandwichpersistence/Defaults.java
/src/main/resources/sqls/default_values.sql
/src/main/resources/sqls/h2_init.sql

### Build ###
/out/artifacts/BandwichPersistence_jar/BandwichPersistence.jar

### Custom ###
# Build #
/.gradle/

# Database #
/src/main/resources/database/sqls/clear_database.sql
